html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

#title-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
}

#smaller-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

#selection-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.selection {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.multiple-icons {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#versus-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subtext {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.middle {
    font-weight: bold;
}

#winner-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* image sizing */
.icon {
    width: 204.8px;
    height: auto;
    transition-duration: 0.5s;
}


.detail {
    font-family: Helvetica, sans-serif;
    size: 11px;
}

.btn {
    appearance: none;
    padding: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.icon:hover {
    width: 224.8px;
    height: auto;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E7EB;
}

.footer {
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 0px;

}

.boundled-text {
    display: inline;
}