#title-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
}

#smaller-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

#selection-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.selection {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.multiple-icons {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#versus-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.versus {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.middle {
    font-weight: bold;
}

#winner-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}