.title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
}

.description {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    font-size: 18px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}

#play-button {
    background-color: lightgreen;
}

#back-button {
    background-color: lightcoral;
}

